body {
    font-size: 14px;
    background-color: yellow;
}
p{
    font-family: Arial;
}
.spalva{
    display: inline;
    background-color: black;
}

#melynas{
    color: lightyellow;
    background-color: antiquewhite;
}

#raudonas{
    color: rgb(255,0,0);
}

#zalias {
    color: #00FF00;

}
