.container{
    width: 100%;
}
body{
    background-color: wheat;
}


header,footer{
    background-color: aquamarine;
  text-align: center;
}




.masElem {
     width: 100px;
     height: 100px;
     border:1px solid black;
     margin: 3px;
     display: inline;
     float: left;
     overflow: hidden;
    background-color: #00FF00;
 }