.profile_pic {
    width: 100%;
    height: 100%;
}
.fiksuotas_aukstis {
    margin-top: 14px;
    height: 100px;
}
.masElem{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 3px;
    display: inline;
    float: left;
    overflow: hidden;
}

.animacija {
    transition: all linear 0.5s;
    height: 200px;
}
.ng-hide {
    height: 0;
}