<link rel="stylesheet" href="../../css/trecias.css">
<div class="row">
    <div class="col s12">
        <header>
            <h1 style="text-align: center">Laurynas</h1>
        </header>
    </div>
</div>


<div class="row">

    <div class="col s12">

        <div class="row" ng-controller="formaController">
            <div class="row" >
                <span class="col s6; waves-effect waves-light btn grey lighten-1" ng-click="fizinis=true">Fizinis asmuo</span>
                <span class="col s6; waves-effect waves-light btn grey lighten-1" ng-click="fizinis=false">Juridinis asmuo</span>
            </div>
            <div class="row" >
                <form class="row" action="#" method="post" ng-ignit="fizinis=true">
                    <div ng-show="fizinis">
                        <span class="waves-effect waves-light btn grey lighten-1; col s3">Fizinis </span>
                    </div>
                    <div  ng-hide="fizinis">
                        <span class="waves-effect waves-light btn grey lighten-1; col s3">Juridinis</span>
                    </div>
                </form>
            </div>
        </div>




        <div class="row">
            <div class="col s12 offset-s5">

                <img src="https://scontent.fvno1-1.fna.fbcdn.net/v/t1.0-9/14495335_1209849052368967_290829275933584387_n.jpg?oh=ee080938b4e24047c7790eca55d9ba3f&oe=5948BF0D"
                     height="20%" width="20%">


            </div>
        </div>

        <p style="text-align: center">Info apie mane </p>

        <div class="row" ng-controller="myCtrl">

            <div class="col s3">


                <div ng-repeat="elementas in masyvas" class="masElem">
                    {{elementas.pavadinimas}}
                    <br/>
                    {{elementas.nuoroda}}
                </div>
            </div>
            <form action="" method="post" ng-controller="myCtrl">
                <div class="col s6">
                    <div class="row">
                        <div class="col s8">


                            <input ng-model="vardas" type="text" placeholder="Iveskite savo varda"/>
                            <textarea ng-model="zinute" class="materialize-textarea">Iveskite savo zinute</textarea>
                        </div>
                        <div class="col s4">
                            <p>{{vardas}} parasyka man zinute: {{zinute}}</p>

                            <input class="waves-effect waves-light btn" style="height: 150px;" type="submit"
                                   value="Siusti" ng-mouseover="keisti()"/>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>


<div class="row">
    <div class="col s12">
        <footer>Copyright &copy; </footer>
    </div>
</div>