<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Jono Svetaine</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/puslapio_struktura.css">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="../js/mainApp.js"></script>
    <script src="../js/jonas.js"></script>
    <script src="../js/menuController.js"></script>

</head>


<header>
    <h1>Jono svetaine</h1>
</header>

<div class="row">
    <div class="col s2">

        <ul ng-controller="menuController as mc">
            <li ng-repeat="item in mc.menu"><a class="waves-effect waves-light btn fiksuotasdydis grey lighten-1" href={{item.url}}">{{item.name}}</a></li>

        </ul>
        <div ng-controller="jonasCtrl">
            <div ng-repeat="elementas in masyvas" class="masElem">
                {{elementas.pavadinimas}}
                <br>
                {{elementas.adresas}}
            </div>

        </div>
    </div>
</div>
</body>

</html>