<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Svetainės pavadinimas</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/Ka.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../js/mainApp.js"></script>
    <script src="../js/KamiControleris.js"></script>
    <script src="../js/menuController.js"></script>


</head>

<body>
<div class="kami">

    <header>Trumpai apie mane</header>


    <div>
        <div class="row">
            <div class="col s3">
                <ul ng-controller="menuController as mc" id="slide-out" class="side-nav fixed">
                    <li ng-repeat="item in mc.menu"><a class="waves-effect waves-light btn fiksuotasdydis grey lighten-1" href="{{item.url}}">{{item.name}}</a></li>


                </ul>
            </div>

            <div class="col s8" ng-controller="testCtrl">

                <div class="card blue-grey darken-1" ng-repeat="elementas in masyvas" class="masElem"><div class="card-content white-text">
                    {{elementas.pavadinimas}}
                    <br/>
                    {{elementas.adresas}}
                </div></div>

                <p ng-bind="vardas">Zigas</p>

                <div class="row">
                    <div class="col s4 offset-s4 center">
                        <img src="https://scontent.fvno1-1.fna.fbcdn.net/v/t1.0-9/10391564_127881958234_4963280_n.jpg?oh=e6b7a1ef812a8dc9170e6979ee152c3c&oe=591487DA"
                             alt="Kami">
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 center">
                        <article>
                            Trumpai apie mane....
                        </article>
                    </div>
                </div>

                <div class="row">
                    <div class="col s8 card    teal lighten-3">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col  s9">
                                    <input type="text" name="vardas" placeholder="Įveskite savo vardą"/>
                                    <input type="email" name="email" placeholder="Įveskite savo el. paštą"/>
                                    <textarea name="zinute" placeholder="Įveskite savo žinutę"></textarea>
                                </div>
                                <div class="col s3">

                                    <button class="btn waves-effect waves-light grey lighten-1 fiksuotas" type="submit"
                                            name="action">
                                        Siųsti
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col s4 center flow-text">

                        <article class="pasukti"><b>Parašyk man.</b></article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer>Copyright &copy; Kami</footer>
</div>


</body>

</html>